.wrapper {
	width: 1000px;
	height: 1000px;
	border-radius: 10px;
}

.canvas {
	aspect-ratio: 1;
	border-radius: 10px;
	cursor: none;
	width: 100%;
	position: absolute;
}

.cursor {
	z-index: 5;
	background: transparent;
}

.temp {
	z-index: 3;
	background: transparent;
}

.paint {
	background: white;
	z-index: 1;
}

.guest {
	cursor: auto;
}
